<%- include('includes/head') %>

    <section class="container">
      <h1>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        <!-- <% if(typeof titulo === "string") { %>
          <%= titulo %>
        <% } else { %>
          <%= 'Titulo não foi definido' %>
        <% } %>  -->

        <!-- <% for( let index = 0; index < numeros.length; index++ ) { %>
          <% if(index === 1) { %>
            <%= numeros[index] %>
          <% } %>
        <% } %> -->

      </h1>
    </section>

<%- include('includes/footer') %>